In [2]:
# from images import bigpycraft_bda as bpc
from IPython.display import Image 

import numpy as np
import pandas as pd

In [ ]:

df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
pd.concat(pieces,1)

In [ ]:
?pd.concat

In [ ]:
df2 = pd.DataFrame(np.random.randn(5, 4))
df2

In [ ]:
df3 = pd.concat([df, df2],1).fillna(0)
df3

In [ ]:
pd.concat([df, df2], ignore_index=True)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on= 'key')

In [ ]:
left = pd.DataFrame({'key' : ['foo', 'bar'], 'lval' : [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on= 'key')

In [ ]:
pd.merge(right, left, on= 'key')

In [ ]:
?pd.merge

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
s = df.iloc[3]
s1 = DataFrame(s)

s2 = s1.T
s2

In [ ]:
df.append(s)

In [ ]:
df.append(s, ignore_index=True)

In [ ]:
pd.concat([df,s2], ignore_index=True)

In [ ]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })
df

In [ ]:
# 생성된 데이터프레임을 그룹화한 후 각 그룹에 sum() 함수를 적용
df.groupby('A').sum()

In [ ]:
# 여러 열을 기준으로 그룹화하면 계층적 인덱스가 형성됩니다
k = round(df.groupby(['A','B']).sum(),2)
k

In [ ]:
tuples = list([['bar1', 'bar1', 'bar2', 'bar2',
                     'bar3', 'bar3', 'bar4', 'bar4'],
                    ['val1', 'val2', 'val3', 'val4',
                     'val5', 'val6', 'val7', 'val8']])
tuples

In [ ]:
?zip

In [ ]:
tuples = list(zip(*[['bar1', 'bar1', 'bar2', 'bar2',
                     'bar3', 'bar3', 'bar4', 'bar4'],
                    ['val1', 'val2', 'val3', 'val4',
                     'val5', 'val6', 'val7', 'val8']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

In [ ]:
df2  =  df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(0)

In [ ]:
stacked.unstack(1)

In [4]:
df = pd.DataFrame({'A' : ['1st', '1st', '2nd', '3rd'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['광주은행', '광주은행', '광주은행', '전북은행', '전북은행', '전북은행'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

      A  B     C         D         E
0   1st  A  광주은행  2.104721 -0.906996
1   1st  B  광주은행  1.916496 -0.623063
2   2nd  C  광주은행  0.570562 -0.782788
3   3rd  A  전북은행 -0.678005  1.876371
4   1st  B  전북은행  0.563423 -0.054313
5   1st  C  전북은행 -0.093165  0.710895
6   2nd  A  광주은행  1.636946  0.452662
7   3rd  B  광주은행 -0.032846 -0.839196
8   1st  C  광주은행  0.157569  0.447227
9   1st  A  전북은행 -0.935232  0.333532
10  2nd  B  전북은행 -0.651515 -0.355627
11  3rd  C  전북은행  1.238766  0.311283

In [22]:
df2 = pd.DataFrame({ 'A' : ['1st', '1st', '2nd', '3rd'] * 1
                    ,'B' : ['A', 'B'] * 2
                    ,'C' : ['광주은행', '전북은행']* 2
                    ,'F' : np.random.randn(4)})
df2

     A  B     C         F
0  1st  A  광주은행  0.170932
1  1st  B  전북은행 -1.836609
2  2nd  A  광주은행 -0.994052
3  3rd  B  전북은행 -1.988173

In [9]:
?pd.merge

In [26]:
pd.merge(df,df2,on = ['A','B','C'], how = 'outer', sort=True)

      A  B     C         D         E         F
0   1st  A  광주은행  2.104721 -0.906996  0.170932
1   1st  A  전북은행 -0.935232  0.333532       NaN
2   1st  B  광주은행  1.916496 -0.623063       NaN
3   1st  B  전북은행  0.563423 -0.054313 -1.836609
4   1st  C  광주은행  0.157569  0.447227       NaN
5   1st  C  전북은행 -0.093165  0.710895       NaN
6   2nd  A  광주은행  1.636946  0.452662 -0.994052
7   2nd  B  전북은행 -0.651515 -0.355627       NaN
8   2nd  C  광주은행  0.570562 -0.782788       NaN
9   3rd  A  전북은행 -0.678005  1.876371       NaN
10  3rd  B  광주은행 -0.032846 -0.839196       NaN
11  3rd  B  전북은행       NaN       NaN -1.988173
12  3rd  C  전북은행  1.238766  0.311283       NaN

In [ ]:
df.sort_index()

In [ ]:
a = round(pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C']),2)
a

In [ ]:
rng = pd.date_range('5/31/2022', periods=100, freq='S')
rng

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
# 시간대를 표현
rng = pd.date_range('6/1/2022 00:00', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
# 다른 시간대로 변환
ts_utc.tz_convert('US/Eastern')

In [ ]:
# 시간 표현 ↔ 기간 표현으로 변환
rng = pd.date_range('1/1/2022', periods=12, freq='M')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

In [ ]:
prng = pd.period_range('2012Q1', '2022Q4', freq='Q-NOV')
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts

In [ ]:
prng

In [ ]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.index

In [ ]:
ts.head()

In [ ]:
# !pip install canvas

In [ ]:
?MERGE

In [ ]:
?merge

In [ ]:
?pd.merge

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'd', 'e']})
df

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df

In [ ]:
df["grade"]

In [ ]:
df["grade"].cat.categories = ["very good", "good", "bad", "very bad"]
df

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df

In [ ]:
df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
# 범주의 열을 기준으로 그룹화하면 빈 범주도 표시
df.groupby("grade").size()