In [1]:
# Pandas Basics
from IPython.display import Image 

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

* 누락된 데이터 처리하기

In [ ]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

In [ ]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data.dropna() #na 데이터 날리기

In [ ]:
data[data.notnull()]

In [ ]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
data

In [ ]:
cleaned = data.dropna()
cleaned # dataframe은 하나라도 있으면 다 날린다.

In [ ]:
# 모든 값이 NA인 로우만 제외
data.dropna(how = 'all')

In [ ]:
data[4] = NA
data

In [ ]:
data.dropna(axis = 1, how = 'all') #세로로 모두 nan인것만 제외

In [ ]:
?data.dropna

In [ ]:
data.dropna(axis = 1) #세로로 모두 nan인것만 가져옴,

In [ ]:
df = DataFrame(np.random.randn(7, 3))
df

In [ ]:
# colmns가 문자이면 슬라이싱으로 찾기 안됨

In [ ]:
df2 = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df2

In [ ]:
df2.iloc[:4, 1] = NA 
df2.iloc[:2, 2] = NA
df2

In [ ]:
df.iloc[:4, 1] = NA 
df.iloc[:2, 2] = NA
df

In [ ]:
# thresh : 몇 개 이상의 값이 들어있는 로우만 살펴보고 싶을때 넣는 인자 값
df.dropna(thresh = 3)

In [ ]:
df.dropna(thresh = 2)

In [ ]:
df.dropna(thresh=1)

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
# fillna에 사전값을 넣어서 각 칼럼마다 다른값을 채워넣을수도 있다.
df.fillna({1: 0.5, 3: -1})

In [ ]:
# fillna는 값을 채워 넣은 객체의 참조를 반환한다.
_ = df.fillna(0, inplace=True)
df

In [ ]:
df = DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA 
df.iloc[4:, 2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [ ]:
data = Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())