In [13]:
import random
random.random()

0.816210324697685

In [45]:
import random

dice1 = random.randint(1,6) # 임의의 정수가 생성됨
dice2 = random.randint(1,6) # 임의의 정수가 생성됨
print('주사위 두 개의 숫자: {0}, {1}'.format(dice1, dice2))

주사위 두 개의 숫자: 5, 4

In [14]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [15]:
import random

random.sample([1, 2, 3, 4, 5], 2) # 모집단에서 두 개의 인자 선택

[4, 5]

In [20]:
import random

menu = ['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자', '탕수육']
random.choice(menu)
menu.count('비빔밥')

1

In [41]:
import random

random.sample([1, 2, 3, 4, 5], 2) # 모집단에서 두 개의 인자 선택

[4, 3]

In [55]:
import datetime

set_day = datetime.date(2018, 3, 2)
print(set_day)
type(set_day)

2018-03-02

datetime.date

In [44]:
import random

num1 = random.randrange(1, 10, 2) # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0,100,10) # 0 ~ 99(100-1) 중 임의의10의 단위 숫자 선택
print('num1: {0}, num2: {1}'.format(num1,num2))

num1: 1, num2: 30

In [46]:
import random

random.randrange(0,11,2)

8

In [50]:
help(random.randrange)

Help on method randrange in module random:

randrange(start, stop=None, step=1) method of random.Random instance
    Choose a random item from range(start, stop[, step]).

    This fixes the problem with randint() which includes the
    endpoint; in Python this is usually not what you want.

In [53]:
?random.randrange

In [52]:
?random.randint

In [51]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [54]:
help(random.sample)

Help on method sample in module random:

sample(population, k, *, counts=None) method of random.Random instance
    Chooses k unique random elements from a population sequence or set.

    Returns a new list containing elements from the population while
    leaving the original population unchanged.  The resulting list is
    in selection order so that all sub-slices will also be valid random
    samples.  This allows raffle winners (the sample) to be partitioned
    into grand prize and second place winners (the subslices).

    Members of the population need not be hashable or unique.  If the
    population contains repeats, then each occurrence is a possible
    selection in the sample.

    Repeated elements can be specified one at a time or with the optional
    counts parameter.  For example:

        sample(['red', 'blue'], counts=[4, 2], k=5)

    is equivalent to:

        sample(['red', 'red', 'red', 'red', 'blue', 'blue'], k=5)

    To choose a sample from a range of integers, use range() for the
    population argument.  This is especially fast and space efficient
    for sampling from a large population:

        sample(range(10000000), 60)

In [56]:
print('{0}/{1}/{2}'.format(set_day.year,set_day.month,set_day.day ))

2018/3/2

In [61]:
import datetime

day1 = datetime.date(2019, 12, 25)
day2 = datetime.date(2022, 5, 24)
diff_day = day2 - day1
print(diff_day)

881 days, 0:00:00

In [58]:
help(datetime.date)

Help on class date in module datetime:

class date(builtins.object)
 |  date(year, month, day) --> date object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  isocalendar(...)
 |      Return a named tuple containing ISO year, week number, and weekday.
 |
 |  isoformat(...)
 |      Return string in ISO 8601 format, YYYY-MM-DD.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  replace(...)
 |      Return date with new specified fields.
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromisocalendar(...) from builtins.type
 |      int, int, int -> Construct a date from the ISO year, week number and weekday.
 |
 |      This is the inverse of the date.isocalendar() function
 |
 |  fromisoformat(...) from builtins.type
 |      str -> Construct a date from the output of date.isoformat()
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  fromtimestamp(timestamp, /) from builtins.type
 |      Create a date from a POSIX timestamp.
 |
 |      The timestamp is a number, e.g. created via time.time(), that is interpreted
 |      as local time.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  day
 |
 |  month
 |
 |  year
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.date(9999, 12, 31)
 |
 |  min = datetime.date(1, 1, 1)
 |
 |  resolution = datetime.timedelta(days=1)

In [59]:
?datetime.date

In [60]:
type(diff_day)

datetime.timedelta

In [62]:
print("** 지정된 두 날짜의 차이는 {}일입니다. **".format(diff_day.days))

** 지정된 두 날짜의 차이는 881일입니다. **

In [63]:
import datetime

print(datetime.date.today())

2022-05-24

In [65]:
import datetime

today = datetime.date.today()
special_day = datetime.date(2022, 12, 31)
print(special_day - today)

221 days, 0:00:00

In [67]:
today = datetime.date.today()
xmas_date = datetime.date(2022, 12, 25)
remain_days = xmas_date - today
remain_days

datetime.timedelta(days=215)

In [68]:
print("크리스마스는 이제 {} 일 남았습니다.^^".format(remain_days.days))

크리스마스는 이제 215 일 남았습니다.^^

In [69]:
import datetime

set_time = datetime.time(15, 30, 45)
set_time

datetime.time(15, 30, 45)

In [70]:
print('{0}:{1}:{2}'.format(set_time.hour, set_time.minute, set_time.second ))

15:30:45

In [71]:
import datetime

set_dt = datetime.datetime(2018, 12, 1, 10, 20, 0)
print(set_dt)

2018-12-01 10:20:00

In [72]:
print('날짜 {0}/{1}/{2}'.format(set_dt.year, set_dt.month, set_dt.day))
print('시각 {0}:{1}:{2}'.format(set_dt.hour, set_dt.minute, set_dt.second))

날짜 2018/12/1
시각 10:20:0

In [73]:
import datetime

now = datetime.datetime.now()
print(now)

2022-05-24 14:42:24.065855

In [74]:
print("Date & Time: {:%Y-%m-%d, %H:%M:%S}".format(now))

Date & Time: 2022-05-24, 14:42:24

In [84]:
print("Date: {:%Y, %m, %d}".format(now))
print("Time: {:%H/%M/%S}".format(now))

Date: 2022, 05, 24
Time: 14/44/29

In [77]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2023, 1, 1, 00, 00, 00)

print("현재 날짜 및 시각:", now)
print("차이:", set_dt - now)

현재 날짜 및 시각: 2022-05-24 14:44:29.481696
차이: 221 days, 9:15:30.518304

In [78]:
from datetime import date, time, datetime

print(date(2022, 5, 1))

2022-05-01

In [79]:
print(date.today())

2022-05-24

In [80]:
print(time(15, 30, 45))

15:30:45

In [81]:
print(datetime(2022, 3, 2, 18, 10, 50))

2022-03-02 18:10:50

In [82]:
print(datetime.now())

2022-05-24 14:45:20.217830

In [85]:
import calendar

In [92]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [94]:
print(calendar.calendar(2022, m=5))

                                                            2022

      January                   February                   March                     April                      May
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6                   1  2  3                         1
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
24 25 26 27 28 29 30      28                        28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
31                                                                                                      30 31

        June                      July                     August                  September                  October
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7                1  2  3  4                      1  2
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
27 28 29 30               25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                                                                        31

      November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4
 7  8  9 10 11 12 13       5  6  7  8  9 10 11
14 15 16 17 18 19 20      12 13 14 15 16 17 18
21 22 23 24 25 26 27      19 20 21 22 23 24 25
28 29 30                  26 27 28 29 30 31

In [95]:
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [128]:
calendar.monthrange(2022,7)

(4, 31)

In [129]:
calendar.firstweekday()

1

In [98]:
calendar.setfirstweekday(calendar.MONDAY)
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [123]:
calendar.setfirstweekday(calendar.TUESDAY)
print(calendar.month(2022,5))

      May 2022
Tu We Th Fr Sa Su Mo
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

* 일요일은 6, 월요일은 0

In [100]:
calendar.SUNDAY, calendar.MONDAY

(6, 0)

In [101]:
calendar.firstweekday()

6

In [102]:
print(calendar.weekday(2022, 5, 24))

1

In [103]:
print(calendar.isleap(2018))
print(calendar.isleap(2020))

False
True

In [120]:
import time

chk_time1 = datetime.now()

for i in range(10**8):
    if i%100000 == 0:
        print(i,end='\t')

chk_time2 = datetime.now()

0	100000	200000	300000	400000	500000	600000	700000	800000	900000	1000000	1100000	1200000	1300000	1400000	1500000	1600000	1700000	1800000	1900000	2000000	2100000	2200000	2300000	2400000	2500000	2600000	2700000	2800000	2900000	3000000	3100000	3200000	3300000	3400000	3500000	3600000	3700000	3800000	3900000	4000000	4100000	4200000	4300000	4400000	4500000	4600000	4700000	4800000	4900000	5000000	5100000	5200000	5300000	5400000	5500000	5600000	5700000	5800000	5900000	6000000	6100000	6200000	6300000	6400000	6500000	6600000	6700000	6800000	6900000	7000000	7100000	7200000	7300000	7400000	7500000	7600000	7700000	7800000	7900000	8000000	8100000	8200000	8300000	8400000	8500000	8600000	8700000	8800000	8900000	9000000	9100000	9200000	9300000	9400000	9500000	9600000	9700000	9800000	9900000	10000000	10100000	10200000	10300000	10400000	10500000	10600000	10700000	10800000	10900000	11000000	11100000	11200000	11300000	11400000	11500000	11600000	11700000	11800000	11900000	12000000	12100000	12200000	12300000	12400000	12500000	12600000	12700000	12800000	12900000	13000000	13100000	13200000	13300000	13400000	13500000	13600000	13700000	13800000	13900000	14000000	14100000	14200000	14300000	14400000	14500000	14600000	14700000	14800000	14900000	15000000	15100000	15200000	15300000	15400000	15500000	15600000	15700000	15800000	15900000	16000000	16100000	16200000	16300000	16400000	16500000	16600000	16700000	16800000	16900000	17000000	17100000	17200000	17300000	17400000	17500000	17600000	17700000	17800000	17900000	18000000	18100000	18200000	18300000	18400000	18500000	18600000	18700000	18800000	18900000	19000000	19100000	19200000	19300000	19400000	19500000	19600000	19700000	19800000	19900000	20000000	20100000	20200000	20300000	20400000	20500000	20600000	20700000	20800000	20900000	21000000	21100000	21200000	21300000	21400000	21500000	21600000	21700000	21800000	21900000	22000000	22100000	22200000	22300000	22400000	22500000	22600000	22700000	22800000	22900000	23000000	23100000	23200000	23300000	23400000	23500000	23600000	23700000	23800000	23900000	24000000	24100000	24200000	24300000	24400000	24500000	24600000	24700000	24800000	24900000	25000000	25100000	25200000	25300000	25400000	25500000	25600000	25700000	25800000	25900000	26000000	26100000	26200000	26300000	26400000	26500000	26600000	26700000	26800000	26900000	27000000	27100000	27200000	27300000	27400000	27500000	27600000	27700000	27800000	27900000	28000000	28100000	28200000	28300000	28400000	28500000	28600000	28700000	28800000	28900000	29000000	29100000	29200000	29300000	29400000	29500000	29600000	29700000	29800000	29900000	30000000	30100000	30200000	30300000	30400000	30500000	30600000	30700000	30800000	30900000	31000000	31100000	31200000	31300000	31400000	31500000	31600000	31700000	31800000	31900000	32000000	32100000	32200000	32300000	32400000	32500000	32600000	32700000	32800000	32900000	33000000	33100000	33200000	33300000	33400000	33500000	33600000	33700000	33800000	33900000	34000000	34100000	34200000	34300000	34400000	34500000	34600000	34700000	34800000	34900000	35000000	35100000	35200000	35300000	35400000	35500000	35600000	35700000	35800000	35900000	36000000	36100000	36200000	36300000	36400000	36500000	36600000	36700000	36800000	36900000	37000000	37100000	37200000	37300000	37400000	37500000	37600000	37700000	37800000	37900000	38000000	38100000	38200000	38300000	38400000	38500000	38600000	38700000	38800000	38900000	39000000	39100000	39200000	39300000	39400000	39500000	39600000	39700000	39800000	39900000	40000000	40100000	40200000	40300000	40400000	40500000	40600000	40700000	40800000	40900000	41000000	41100000	41200000	41300000	41400000	41500000	41600000	41700000	41800000	41900000	42000000	42100000	42200000	42300000	42400000	42500000	42600000	42700000	42800000	42900000	43000000	43100000	43200000	43300000	43400000	43500000	43600000	43700000	43800000	43900000	44000000	44100000	44200000	44300000	44400000	44500000	44600000	44700000	44800000	44900000	45000000	45100000	45200000	45300000	45400000	45500000	45600000	45700000	45800000	45900000	46000000	46100000	46200000	46300000	46400000	46500000	46600000	46700000	46800000	46900000	47000000	47100000	47200000	47300000	47400000	47500000	47600000	47700000	47800000	47900000	48000000	48100000	48200000	48300000	48400000	48500000	48600000	48700000	48800000	48900000	49000000	49100000	49200000	49300000	49400000	49500000	49600000	49700000	49800000	49900000	50000000	50100000	50200000	50300000	50400000	50500000	50600000	50700000	50800000	50900000	51000000	51100000	51200000	51300000	51400000	51500000	51600000	51700000	51800000	51900000	52000000	52100000	52200000	52300000	52400000	52500000	52600000	52700000	52800000	52900000	53000000	53100000	53200000	53300000	53400000	53500000	53600000	53700000	53800000	53900000	54000000	54100000	54200000	54300000	54400000	54500000	54600000	54700000	54800000	54900000	55000000	55100000	55200000	55300000	55400000	55500000	55600000	55700000	55800000	55900000	56000000	56100000	56200000	56300000	56400000	56500000	56600000	56700000	56800000	56900000	57000000	57100000	57200000	57300000	57400000	57500000	57600000	57700000	57800000	57900000	58000000	58100000	58200000	58300000	58400000	58500000	58600000	58700000	58800000	58900000	59000000	59100000	59200000	59300000	59400000	59500000	59600000	59700000	59800000	59900000	60000000	60100000	60200000	60300000	60400000	60500000	60600000	60700000	60800000	60900000	61000000	61100000	61200000	61300000	61400000	61500000	61600000	61700000	61800000	61900000	62000000	62100000	62200000	62300000	62400000	62500000	62600000	62700000	62800000	62900000	63000000	63100000	63200000	63300000	63400000	63500000	63600000	63700000	63800000	63900000	64000000	64100000	64200000	64300000	64400000	64500000	64600000	64700000	64800000	64900000	65000000	65100000	65200000	65300000	65400000	65500000	65600000	65700000	65800000	65900000	66000000	66100000	66200000	66300000	66400000	66500000	66600000	66700000	66800000	66900000	67000000	67100000	67200000	67300000	67400000	67500000	67600000	67700000	67800000	67900000	68000000	68100000	68200000	68300000	68400000	68500000	68600000	68700000	68800000	68900000	69000000	69100000	69200000	69300000	69400000	69500000	69600000	69700000	69800000	69900000	70000000	70100000	70200000	70300000	70400000	70500000	70600000	70700000	70800000	70900000	71000000	71100000	71200000	71300000	71400000	71500000	71600000	71700000	71800000	71900000	72000000	72100000	72200000	72300000	72400000	72500000	72600000	72700000	72800000	72900000	73000000	73100000	73200000	73300000	73400000	73500000	73600000	73700000	73800000	73900000	74000000	74100000	74200000	74300000	74400000	74500000	74600000	74700000	74800000	74900000	75000000	75100000	75200000	75300000	75400000	75500000	75600000	75700000	75800000	75900000	76000000	76100000	76200000	76300000	76400000	76500000	76600000	76700000	76800000	76900000	77000000	77100000	77200000	77300000	77400000	77500000	77600000	77700000	77800000	77900000	78000000	78100000	78200000	78300000	78400000	78500000	78600000	78700000	78800000	78900000	79000000	79100000	79200000	79300000	79400000	79500000	79600000	79700000	79800000	79900000	80000000	80100000	80200000	80300000	80400000	80500000	80600000	80700000	80800000	80900000	81000000	81100000	81200000	81300000	81400000	81500000	81600000	81700000	81800000	81900000	82000000	82100000	82200000	82300000	82400000	82500000	82600000	82700000	82800000	82900000	83000000	83100000	83200000	83300000	83400000	83500000	83600000	83700000	83800000	83900000	84000000	84100000	84200000	84300000	84400000	84500000	84600000	84700000	84800000	84900000	85000000	85100000	85200000	85300000	85400000	85500000	85600000	85700000	85800000	85900000	86000000	86100000	86200000	86300000	86400000	86500000	86600000	86700000	86800000	86900000	87000000	87100000	87200000	87300000	87400000	87500000	87600000	87700000	87800000	87900000	88000000	88100000	88200000	88300000	88400000	88500000	88600000	88700000	88800000	88900000	89000000	89100000	89200000	89300000	89400000	89500000	89600000	89700000	89800000	89900000	90000000	90100000	90200000	90300000	90400000	90500000	90600000	90700000	90800000	90900000	91000000	91100000	91200000	91300000	91400000	91500000	91600000	91700000	91800000	91900000	92000000	92100000	92200000	92300000	92400000	92500000	92600000	92700000	92800000	92900000	93000000	93100000	93200000	93300000	93400000	93500000	93600000	93700000	93800000	93900000	94000000	94100000	94200000	94300000	94400000	94500000	94600000

94700000	94800000	94900000	95000000	95100000	95200000	95300000	95400000	95500000	95600000	95700000	95800000	95900000	96000000	96100000	96200000	96300000	96400000	96500000	96600000	96700000	96800000	96900000	97000000	97100000	97200000	97300000	97400000	97500000	97600000	97700000	97800000	97900000	98000000	98100000	98200000	98300000	98400000	98500000	98600000	98700000	98800000	98900000	99000000	99100000	99200000	99300000	99400000	99500000	99600000	99700000	99800000	99900000

In [121]:
chk_time = chk_time2 - chk_time1
print(chk_time)

0:00:07.391194

Object `chk_time` not found.