In [1]:
double2 = lambda x : x*2

In [2]:
double2(300)

600

In [3]:
double2

In [4]:
a = lambda x,y,z : 2*x + 3*y +z

In [5]:
a(2,3,4)

17

In [6]:
a(3,4,5), a(7,8,9)

(23, 47)

*Map : 입력값과 출력값 개수가 똑같다

*필터 : 입럭값과 출력값 개수가 다르다

* Input: 1부터 10까지의 자연수 ⇒ Output : [ 1, 4, 9, ..., 100 ], 리스트를 받아서, 제곱수의 리스트

In [7]:
def get_sq(number):
    return number**2

def get_sq_list(number):
    element = []
    for number in numbers:
        element.append(get_sq(number))
    return element

In [8]:
numbers = list(range(1,11))
get_sq_list(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
def get_sq_list(numbers):
    return list(map(lambda x : x**3, numbers))

get_sq_list()

*미션2 : 리스트를 받아서, 양수인 element 만 새로운 리스트

Input: [1, -2, 3, -4, 5] ⇒ Output : [1, 3, 5]

In [10]:
def get_p_list(numbers):
    element = []
    for number in numbers:
        if number>0:
            element.append(number)
    return element

In [11]:
numbers = [1, -2, 3, -4, 5]
get_p_list(numbers)

[1, 3, 5]

In [12]:
from functools import *

In [14]:
list(map(  
    get_sq,         
    [1, 2, 3, 4, 5],
))

[1, 4, 9, 16, 25]

In [15]:
list(map(
    lambda x: x ** 2,
    [1, 2, 3, 4, 5]
))

[1, 4, 9, 16, 25]

In [17]:
def get_sq1_list(numbers):
    return list(map(lambda x : x**2,numbers))

get_sq1_list([2,3,4,5,6])

[4, 9, 16, 25, 36]

In [1]:
get_sp1_list = lambda numbers : list(map(lambda x : x**3, numbers))

In [2]:
get_sp1_list([2,3,4,5,6])

[8, 27, 64, 125, 216]